<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload Form for E-bike App</title>
</head>
<body>
    <h2>Upload Image</h2>
    <form action="https://uvr32ugdn7.execute-api.us-west-2.amazonaws.com/default/uploadtoS3" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Upload</button>
    </form>
</body>
</html>
